.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
}

.pawn-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.pawn, .player-pawn {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.pawn-logo {
  height: 70px;
  width: auto;
}

.pawn:hover {
  transform: scale(1.5);
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.player p {
  font-family: 'BioRhyme', serif;
  text-align: center;
}

.player-score {
  font-size: 3em;
}

.button {
  margin: auto;
  text-align: center;
  position: relative;
  display: block;
  height: 10vh;
  width: 30vh;
  background-color: blue;
  color: white;
  padding: 2vh;
  border: 8px solid black;
  font-family: 'BioRhyme', serif;
  font-size: 4vh;
  line-height: 1vh;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.game-board {
  width: 60vw;
  height: 60vw;
  max-width: 70vh;
  max-height: 70vh;
  display: grid;
  margin-top: -10vh;
}

.game-square {
  text-align: center;
  color: white;
  background: black;
  outline: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-square img {
  width: 80%;
  height: auto;
}

.player-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid yellow;
}

.player-avatar .pawn {
  width: 50px;
  height: auto;
}

.board-middle {
  /* width: 5vh;
  height: 5vh; */
  grid-column: 2 / -2;
  grid-row: 2 / -2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  font-size: 2vh;
}

.rolled-die {
  font-size: 20vh;
}

.smoke {
  position: absolute;
  transform: translate(-65px, -75px);
  animation: smoke-dissolve 1.5s ease forwards;
}

@keyframes smoke-dissolve {
  from {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
